<style>
    .footer_power_by {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3.5em; 
        line-height: 1.2em;
        background-color: #f8f9fa00;
        color: white;
        font-size: 1.2em;
        text-align: center;
        /* border-top: 1px solid #dee2e6; */
        z-index: 1030;

    }

        .footer_power_by a {
            color: #ffffff; 

        }

            .footer a:hover {
                color: #f9a826; 
                text-decoration: underline; 
            }

    .connected-kiosk{
        color: #fff;
        position: absolute;
        left: 88%;
    }
</style>

<footer class="footer_power_by">
    <div class="container text-center">
        <span class="connected-kiosk"></span>
        &copy; @ViewBag.BuildCreateProjYear 2025 Powered by Netka System
        @*         <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
 *@    </div>
</footer>
