@{
    ViewData["Title"] = "Step7";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}
@* <body class="red-background">

    <header class="page-header" style="padding-bottom:0%;">
        <div class="scan_fail" style="margin-bottom:40px;">
            <img src="/images/icons/scan_fail.svg" class="scan_fail" />
        </div>
        <h1 data-i18n="please try again">กรุณาลองใหม่อีกครั้ง</h1>
        <div class="retry-container">
            <div class="retry-message" data-i18n="reinsert card within seconds">
                สอดบัตรใหม่ภายใน <span id="countdown" class="step6 countdown expired-word"></span> วินาที
            </div>
        </div>
    </header>

    <div class="page-center">
        <img src="/images/icons/font_card_id.svg" class="id-card-image-fail" style="margin-bottom: 0%; margin-top: 0%;" />
        <h2 data-i18n="your id card may be damaged">
            บัตรประจำตัวประชาชนของท่านอาจ <br />
            <span class="expired-word">เสียหายหรือชำรุด</span><br>
        </h2>
        <div class="bottom-section" style="justify-content:left;">
            <ol class="instruction-list">
                <li data-i18n="cannot read id card data">ระบบไม่สามารถอ่านข้อมูลจากบัตรประจำตัวประชาชนของท่านได้อย่างสมบูรณ์</li>
                <li data-i18n="card may be scratched or chip damaged">อาจเกิดจากบัตรมีรอยขีดข่วน ชิพเสื่อมสภาพ หรืออุปกรณ์อ่านบัตรทำงานผิดปกติ</li>
                <li data-i18n="please reinsert card carefully">กรุณาลองถอดและสอดบัตรใหม่อีกครั้งอย่างระมัดระวัง หรือใช้บัตรประจำตัวประชาชนใบอื่น</li>
            </ol>
        </div>
        <button class="action-button cancel-button-fail" data-i18n="cancel identity verification">ยกเลิกการยืนยันตัวตน</button>

    </div>

</body> *@


<body class="kiosk-body">
    <div class="bg-decoration z-0">
        <div class="bg-gradient-top-notice"></div>
        <div class="bg-gradient-bottom"></div>
    </div>
    <div class="kiosk-content z-10">
        <header class="kiosk-header">
            <div class="logo-container">
                <img id="photo" src="/images/icons/maersk.png" alt="Maersk Logo" class="maersk-img" />
            </div>

            <div class="lang-toggle-group">
                <button class="lang-btn active" onclick="setLang('th')">TH</button>
                <div class="lang-separator"></div>
                <button class="lang-btn" onclick="setLang('en')">EN</button>
            </div>
        </header>

        <div class="welcome-text-section">
            <h1 class="title-th-danger">อ่านข้อมูลไม่สำเร็จ</h1>
            <div class="divider-danger"></div>
        </div>


        <div class="page-center-maersk">
            <img src="/images/icons/scan_fail.svg" class="id-card-image-fail-icon" />

            @* <img src="/images/icons/font_card_id.svg" class="id-card-image-fail" style="margin-bottom: 0%; margin-top: 0%;" /> *@
           
            <div class="bottom-section" style="justify-content:left;">
                <ol class="instruction-list-maersk" style="font-size: 2.3em;"> 
                    <li>ระบบไม่สามารถอ่านข้อมูลจากบัตรประจำตัวประชาชนของท่านได้อย่างสมบูรณ์</li>
                    <li>อาจเกิดจากบัตรมีรอยขีดข่วน ชิพเสื่อมสภาพ หรืออุปกรณ์อ่านบัตรทำงานผิดปกติ</li>
                    <li>กรุณาลองถอดและสอดบัตรใหม่อีกครั้งอย่างระมัดระวัง หรือใช้บัตรประจำตัวประชาชนใบอื่น</li>
                </ol>
            </div>

        </div>
        <div class="kiosk-action-bar style-modern">
            <a asp-controller="Step" asp-action="Step4" class="kiosk-btn btn-solid">
                ลองใหม่อีกครั้ง
            </a>
            <a asp-controller="Step" asp-action="Step1" class="kiosk-btn btn-outline" data-i18n="cancel identity verification">
                ยกเลิกการยืนยันตัวตน
            </a>
        </div>
    </div>
</body>