@{
    ViewData["Title"] = "Step13";
}
<body class="green-background">
    <header class="page-header">
        <img src="/images/icons/scan_pass.svg" class="scan_fail" />
        <h1 style="margin-top:30px;">สิ้นสุดกระบวนการ <br>ยืนยันตัวตน</h1>
    </header>
    <div class="mainCard-container">
        <div class="left-column">

            <div class="reader-slot">
                <img src="/images/icons/Readercard.svg" class="Readercard" />
                <img src="/images/icons/outside_reder.svg" class="outside-reader" />

            </div>
            <div class="hand-out-card">
                <img src="/images/icons/Hand_out.svg" class="Heandcard" />
            </div>

        </div>
            <div class="right-column-success">
                <div class="top-section">
                    <img src="/images/icons/congratulations .svg" class="congratulations-image" />
                </div>

                <div class="bottom-section">
                    <h2>
                        กรุณา
                        <span class="expired-word">ดึงบัตรประชาชนออก</span><br>
                        เพื่อสิ้นสุดขั้นตอน
                    </h2>
                </div>
                  <form asp-controller="Step" asp-action="Step1" method="get" class="button-section" onsubmit="return handleScan(this)">
                <button type="submit" class="scan-button">เสร็จสิ้น</button>
            </form>
            </div>
    </div>
</body>




