@{
    ViewData["Title"] = "Step7";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}
<body class="red-background">

    <header class="page-header" style="padding-bottom:0%;">
        <div class="scan_fail" style="margin-bottom:40px;">
            <img src="/images/icons/scan_fail.svg" class="scan_fail" />
        </div>
        <h1>กรุณาลองใหม่อีกครั้ง</h1>
        <div class="retry-container">
            <div class="retry-message">
                เสียบบัตตรใหม่ภายใน <span id="countdown" class="step6 countdown expired-word"></span> วินาที
            </div>
        </div>
    </header>

    <div class="page-center">
        <img src="/images/icons/font_card_id.svg" class="id-card-image-fail" style="margin-bottom: 0%; margin-top: 0%;" />
        <h2>
            บัตรประชาชนของท่านอาจ
            <span class="expired-word">เสียหายหรือชำรุด</span><br>
        </h2>
        <div class="bottom-section" style="justify-content:left;">
            <ol class="instruction-list">
                <li>ระบบไม่สามารถอ่านข้อมูลจากบัตรประชาชนของท่านได้อย่างสมบูรณ์</li>
                <li>อาจเกิดจากบัตรมีรอยขีดข่วน ชิพเสื่อมสภาพ หรืออุปกรณ์อ่านบัตรทำงานผิดปกติ</li>
                <li>กรุณาลองถอดและเสียบบัตรใหม่อีกครั้งอย่างระมัดระวัง หรือใช้บัตรประชาชนใบอื่น</li>
            </ol>
        </div>
        <button class="action-button cancel-button-fail">ยกเลิกการยืนยันตัวตน</button>

    </div>

</body>