@{
    ViewData["Title"] = "Step15";
}

<body>
    <div class="header" style="margin-top:10%; padding:0px; margin-bottom:6%; ">
        <div class="normal-container">
            <h2>
                ยืนยันตัวตนด้วย
            </h2>
        </div>
        <div class="normal-container">
            <h1>
                บัตรประชาชน
            </h1>
        </div>
    </div>
    <div class="four-layout">
       
        <div class="top-left icons-column">
            <div class="icon-row">
                <img src="/images/icons/id_icon.svg" >
                <h3>ใช้เพียงบัตรประชาชนตัวจริง</h3>
            </div>
            <div class="icon-row">
                <img src="/images/icons/face_scan_icon.svg">
                <h3>
                    สแกนใบหน้าเพื่อยืนยันตัวตน
                    อย่างปลอดภัย
                </h3>
            </div>
            <div class="icon-row">
                <img src="/images/icons/wifi_icon.svg">
                <h3>รับสิทธิ์ใช้งาน Wi-Fi ได้ทันที</h3>
            </div>
        </div>

        <div class="top-right">
            <img src="/images/icons/Font_id_2.svg" class="id-card-image2" alt="Front ID" style=" height: 100%;">
        </div>

        <div class="bottom-left">
            <img src="/images/icons/Back_id_2.svg" class="country-details" alt="Back ID">
        </div>

        <div class="bottom-right icons-column">
            <div class="icon-row" style="padding-left:40px;">
                <img src="/images/icons/address_icon.svg">
                <h3>3000 + จุดบริการ</h3>
            </div>

            <div class="icon-row" style="padding-left:40px;">
                <img src="/images/icons/easy_icon.svg">
                <h3>สะดวก รวดเร็ว ทันใจ</h3>
            </div>

            <div class="icon-row" style="padding-left:40px;">
                <img src="/images/icons/safe_icon.svg">
                <h3>ปลอดภัย ได้มาตรฐาน</h3>
            </div>
        </div>
    </div>

</body>