@{
    ViewData["Title"] = "Step7";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}
<body class="red-background">

    <header class="page-header">
        <div class="scan_fail" style="margin-bottom:40px;">
            <img src="/images/icons/scan_fail.svg" class="scan_fail" />
        </div>
        <h1>ไม่สามารถทำรายการได้</h1>
    </header>

    <div class="page-center">

        <img src="/images/icons/font_card_id.svg" class="id-card-image-fail" />

        <h2>
            บัตรประชาชนของท่าน
            <span class="expired-word">หมดอายุการใช้งาน</span><br>
            กรุณาติดต่อเจ้าหน้าที่
        </h2>

    </div>

    <button class="action-button cancel-button-fail step7">ยกเลิกการยืนยันตัวตน</button>

    <audio id="scan_card" src="/audio/expire_card.wav"></audio>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const audio = document.getElementById("scan_card");
            if (audio) {
                audio.currentTime = 0;
                audio.play().catch(err => {
                    console.warn("ไม่สามารถเล่นเสียงอัตโนมัติได้:", err);
                });
            }
        });
    </script>
</body>