@{
    ViewData["Title"] = "Step7";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
    ViewBag.ShowLangToggle = true;
}
@* <body class="red-background">

    <header class="page-header">
        <div class="scan_fail" style="margin-bottom:40px;">
            <img src="/images/icons/scan_fail.svg" class="scan_fail" />
        </div>
        <h1 data-i18n="unable to process">ไม่สามารถทำรายการได้</h1>
    </header>

    <div class="page-center">

        <img src="/images/icons/font_card_id.svg" class="id-card-image-fail" />

        <h2 data-i18n="your id card has expired">
            บัตรประจำตัวประชาชนของท่าน <br />
            <span class="expired-word">หมดอายุการใช้งาน</span><br>

        </h2>

    </div>

    <button class="action-button cancel-button-fail step7" data-i18n="cancel identity verification">ยกเลิกการยืนยันตัวตน</button>

    <audio id="scan_card" src="/audio/expire_card.wav"></audio>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const audio = document.getElementById("scan_card");
            if (audio) {
                audio.currentTime = 0;
                audio.play().catch(err => {
                    console.warn("ไม่สามารถเล่นเสียงอัตโนมัติได้:", err);
                });
            }
        });
    </script>
</body> *@


<body class="kiosk-body">
    <div class="bg-decoration z-0">
        <div class="bg-gradient-top-notice"></div>
        <div class="bg-gradient-bottom"></div>
    </div>
    <div class="kiosk-content z-10">
        <header class="kiosk-header">
            <div class="logo-container">
                <img id="photo" src="/images/icons/maersk.png" alt="Maersk Logo" class="maersk-img" />
            </div>

        </header>

        <div class="welcome-text-section">
            <h1 class="title-th-danger" data-i18n="card expired">บัตรหมดอายุ</h1>
            <div class="divider-danger"></div>
        </div>


        <div class="page-center-maersk">
            <img src="/images/icons/scan_danger.svg" class="id-card-image-fail-icon" / style="width:27%;">

            <div class="bottom-section" style="justify-content:left;">
                <ol class="instruction-list-maersk" style="font-size: 2.3em;">
                    <li data-i18n ="your id card has expired">
                        บัตรประจำตัวประชาชนของท่าน หมดอายุการใช้งาน</li>
                    <li data-i18n="please contact staff or relevant agency">กรุณาติดต่อเจ้าหน้าที่ หรือหน่วยงานที่เกี่ยวข้อง</li>
                </ol>
            </div>

        </div>
        <div class="kiosk-action-bar style-modern">

            <a asp-controller="Step" asp-action="Step1" class="kiosk-btn btn-outline" data-i18n="cancel identity verification">
                ยกเลิกการยืนยันตัวตน
            </a>


        </div>
    </div>

    <audio id="scan_card" src="/audio/expire_card.wav"></audio>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const audio = document.getElementById("scan_card");
            if (audio) {
                audio.currentTime = 0;
                audio.play().catch(err => {
                    console.warn("ไม่สามารถเล่นเสียงอัตโนมัติได้:", err);
                });
            }
        });
    </script>
    </body>