@{
    ViewData["Title"] = "Step11";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}

<body class="green-background">

    <header class="page-header" style="padding-top:50px;">
        <div class="scan_fail">
            <img src="/images/icons/scan_pass.svg" class="scan_fail" />
        </div>
        <h1 style ="margin-top:50px;" data-i18n="face scan successful">สแกนใบหน้าสำเร็จ</h1>
    </header>
    <div class="page-center">
        <img id="capturePhoto" src="/images/icons/Profile.jpg" class="id-card-scan-pass" />
        <h2 data-i18n="please keep id card inserted until complete">
            กรุณา
            <span class="expired-word">สอดบัตรประจำตัวประชาชน</span> ของท่านไว้<br>
            จนกว่าจะดำเนินการสำเร็จ
        </h2>
    </div>
    <form asp-controller="Step" asp-action="Step12" method="get" class="button-section" onsubmit="return handleScan(this)">
        <button type="submit" class="scan-button" style="margin-top:54px; padding: 40px 0px; width:50%;">
            <span data-i18n="confirm information">ยืนยันข้อมูล</span>
        </button>
    </form>
    <audio id="scan_card" src="/audio/Scan_face_Success.wav"></audio>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var capture = getCapture();
            if (capture) {
                const captureImg = document.getElementById("capturePhoto");
                if (captureImg) {
                  captureImg.src = capture;
                }
            }




            const audio = document.getElementById("scan_card");
            if (audio) {
                audio.currentTime = 0;
                audio.play().catch(err => {
                    console.warn("ไม่สามารถเล่นเสียงอัตโนมัติได้:", err);
                });
            }
        });
    </script>
</body>
