@{
    ViewData["Title"] = "Step3";
    ViewBag.HideFooter = true;
    ViewBag.HideHeader = true;
}
<body>
    <div class="terms-page-wrapper">
        <div class="terms-white-box">
            <header class="page-header" style="padding-top:120px; padding-bottom:120px;">
                <h1>ข้อตกลงและเงื่อนไข</h1>
            </header>
   <div class="scroll-anime">
                    <img  src="/images/icons/interac_icon_scroll.svg" class="interac_icon_scroll" />
                    <div class="ping-scroll"></div>
                </div>
            <div class="terms-content-box">
                <section class="policy-box">
                    <h2 class="terms-title">
                        ข้อตกลงและเงื่อนไขการใช้งาน
                    </h2>
                    <p class="policy-text">
                        ข้าพเจ้าขอขอยืนยันว่าเป็นบุคคลตามหมายเลขประจำตัวประชาชนและได้แสดงตน พิสูจน์ตัวตน ณ จุดรับลงทะเบียนที่กรมการปกครองกำหนด เพื่อขอใช้บริการส่งแทนเอกลักษณ์ดิจิทัล ของกรมการปกครอง กระทรวงมหาดไทย โดยมีวัตถุประสงค์ ในการทำธุรกรรมทางดิจิทัล กับหน่วยงานที่ได้รับอนุญาตจากกรมการปกครอง เพื่อตรวจสอบยืนยันตัวตน

                        ทั้งนี้ในการกระทำใด ๆ ที่ดำเนินการโดยใช้สิ่งแทนเอกลักษณ์ดิจิทัลนี้ ข้าพเจ้าให้ถือว่า ข้าพเจ้าเป็นผู้ดำเนินการด้วยตนเอง

                        ข้อตกลงและเงื่อนไขการใช้งานนี้อยู่ภายใต้บทบังคับแห่งกฎหมายตามที่กฎหมายบัญญัติไว้
                    </p>
                </section>
                <section class="policy-box">
                    <h2 class="terms-title">
                        ข้อสงวนสิทธิและข้อจำกัดความรับผิด
                    </h2>
                    <p class="policy-text">
                        กรมการปกครองไม่อาจรับรองได้ว่าค่าการใช้งานจะเป็นไปโดยปราศจากความล่าช้าและข้อผิดพลาดใด ๆ ทั้งนี้ ไม่ว่าความบกพร่องดังกล่าวจะเกิดขึ้นจากบุคคล หรือความขัดข้องทางเทคนิค หรือเหตุสุดวิสัยอย่างอื่น ข้าพเจ้ารับทราบเงื่อนไขดังกล่าว และตกลงว่าในกรณีที่ความบกพร่องใด ๆ เกิดขึ้น กรมการปกครองจะไม่รับผิดชอบในความสูญเสีย ความเสียหาย ค่าสินไหมทดแทน ค่าใช้จ่าย หรือค่าเสียหายใด ๆ
                    </p>
                </section>

                <section class="policy-box">
                    <h2 class="terms-title">ข้อจำกัดความรับผิดขอบ</h2>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน

                    </p>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน

                    </p>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน

                    </p>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน
                    </p>
                </section>
            </div>


            <div class="terms-footer-fixed">
                <label class="terms-checkbox-group">
                    <input type="checkbox" id="acceptCheckbox">
                    <span class="custom-checkbox"></span>  ข้าพเจ้ายอมรับข้อตกลงเงื่อนไข
                </label>
                <button class="terms-submit-button" id="submitButton" disabled>ยืนยัน</button>
            </div>
        </div>
    </div>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const el = document.querySelector('.interac_icon_scroll');
            const wrapper = document.querySelector('.scroll-anime');
            let count = 0;

            el.addEventListener('animationiteration', () => {
                count++;
                if (count === 3) {
                    wrapper.style.display = 'none'; // หรือใช้ fade out ก็ได้
                }
            });
        });
    </script>

</body>
