@{
    ViewData["Title"] = "Step8";
}
<body class="green-background">

    <header class="page-header" style="padding-top:50px;">
        <div class="scan_fail">
            <img src="/images/icons/scan_pass.svg" class="scan_fail" />
        </div>
        <h1 style="margin-top:50px;">สแกนเสร็จสิ้น</h1>
    </header>
    <div class="page-center" style="margin-top:10%">
        <img src="/images/icons/Thai_id_pass.svg" class="id-card-image-pass" style="width:60%;"/>
     
        <h2 style="margin-top:10%">
            กรุณา
            <span class="expired-word">เสียบบัตรประชาชน</span> ของท่านไว้<br>
            จนกว่าจะดำเนินการยืนยันตัวตนสำเร็จ
        </h2>
    </div>

    <form asp-controller="Step" asp-action="Step9" method="get" class="button-section" onsubmit="return handleScan(this)">
        <button type="submit" class="scan-button" style="margin-top:54px; padding: 40px 0px; width:50%;">
            ขั้นตอนต่อไป
        </button>
    </form>
    <audio id="scan_card" src="/audio/Scan_success.wav"></audio>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const audio = document.getElementById("scan_card");
            if (audio) {
                audio.currentTime = 0;
                audio.play().catch(err => {
                    console.warn("ไม่สามารถเล่นเสียงอัตโนมัติได้:", err);
                });
            }
        });
    </script>
</body>

