@{
    ViewData["Title"] = "Step4";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}
<body class="kiosk-body">
    <div class="bg-decoration z-0">
        <div class="bg-gradient-top-notice"></div>
        <div class="bg-gradient-bottom"></div>
    </div>
    <div class="kiosk-content z-10">
        <header class="kiosk-header">
            <div class="logo-container">
                <img id="photo" src="/images/icons/maersk.png" alt="Maersk Logo" class="maersk-img" />
            </div>

            <div class="lang-toggle-group">
                <button class="lang-btn active" onclick="setLang('th')">TH</button>
                <div class="lang-separator"></div>
                <button class="lang-btn" onclick="setLang('en')">EN</button>
            </div>
        </header>

        <div class="welcome-text-section">
            <h1 class="title-th" data-i18n="please insert your national id card">กรุณาสอดบัตรประจำตัวประชาชน</h1>
            <div class="divider"></div>
        </div>

        <div class="mainCard-container">
            <div class="left-column">
                <div class="reader-slot">
                    <img src="/images/icons/Readercard.svg" class="Readercard" />
                    <img src="/images/icons/outside_reder.svg" class="outside-reader" />
                </div>
                <div class="hand-with-card">
                    <img src="/images/icons/hand_card.svg" class="Heandcard" />
                </div>
            </div>
            <div class="right-column-maersk">
                <div class="top-section">
                    <img src="/images/icons/font_card_id.svg" class="id-card-image" />
                </div>

                <div class="bottom-section">
                    <ol class="instruction-list-maersk">
                        <li data-i18n="prepare your national id card">เตรียมบัตรประจำตัวประชาชน</li>
                        <li data-i18n="face the card up as shown and insert into reader">โปรดหงายบัตรตามภาพ และสอดบัตรเข้าช่องอ่านบัตร</li>
                        <li data-i18n="do not remove the card until the process is complete">กรุณาอย่าดึงบัตรออก จนกว่าการทำรายการจะเสร็จสมบูรณ์</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="timeout-container">
            <div class="progress-bar-bg">
                <div class="progress-bar-fill" id="progressBar"></div>
            </div>
            <p class="timeout-text">
                กรุณาสอดบัตรภายใน <span id="countdownText" class="time-highlight">30</span> วินาที
            </p>
            <div class="instruction-list-maersk-alert d-none" id="alert-notfound-card" data-i18n="id card not detected">ระบบยังไม่พบบัตรประจำตัวประชาชน</div>

        </div>

    </div>
</body>
<audio id="scan_card" src="/audio/Step_scan_card.wav"></audio>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const audio = document.getElementById("scan_card");
        if (audio) {
            audio.currentTime = 0;
            audio.play().catch(err => {
                console.warn("ไม่สามารถเล่นเสียงอัตโนมัติได้:", err);
            });
        }
    });
</script>