@{
    ViewData["Title"] = "Step10";
}
<a asp-controller="Step" asp-action="Step11" class="card-link" style="text-decoration: none;">
    <body class="background">
    <header class="page-header" style="margin-bottom:0px;">
        <h1>กล้อง</h1>
    </header>

</body>
 
</a>

