@{
    ViewData["Title"] = "Step13";
    ViewBag.HideHeader = true;
}
<body class="green-background">
    <header class="page-header">
        <img src="/images/icons/scan_pass.svg" class="scan_fail" />
        <h1 style="margin-top:30px;">สิ้นสุดกระบวนการ <br>ยืนยันตัวตน</h1>
    </header>
    <div class="mainCard-container">
        <div class="left-column">

            <div class="reader-slot">
                <img src="/images/icons/Readercard.svg" class="Readercard" />
                <img src="/images/icons/outside_reder.svg" class="outside-reader" />

            </div>
            <div class="hand-out-card">
                <img src="/images/icons/Hand_out.svg" class="Heandcard" />
            </div>

        </div>
            <div class="right-column-success" style="height:90%;">
            <div class="bottom-section" style="padding:0px;">

                <h2>
                    ขอบคุณที่ใช้บริการ
                </h2>
            </div>
                <div class="top-section">
                <div class="step" style="justify-content:center;">
                    <div class="step-number" id="countdown-end" style="color:#021B79;">10</div>
                   
                </div>
            </div>
          
                <div class="bottom-section" style="padding:0px;">

                    <h2>
                    กรุณา<br>
                        <span class="expired-word">ดึงบัตรประชาชนออก</span><br>
                        เพื่อสิ้นสุดขั้นตอน
                    </h2>
                </div>
                  <form asp-controller="Step" asp-action="Step1" method="get" class="button-section" onsubmit="return handleScan(this)">
                <button type="submit" class="scan-button">เสร็จสิ้น</button>
            </form>
            </div>

    </div>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>
    <audio id="scan_card" src="/audio/All_done.wav"></audio>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const audio = document.getElementById("scan_card");
            if (audio) {
                audio.currentTime = 0;
                audio.play().catch(err => {
                    console.warn("ไม่สามารถเล่นเสียงอัตโนมัติได้:", err);
                });
            }
        });
    </script>
</body>




