@{
    ViewData["Title"] = "Step10";
}
<a asp-controller="Step" asp-action="Step11" class="card-link" style="text-decoration: none;">
    <body class="grey-background">
        <div class="fullscreen-overlay">
            <div class="video-wrapper">
                <video id="videoInput" autoplay muted playsinline></video>
                <canvas id="faceCanvas" style="display: none;"></canvas>

                <div class="glass-overlay"></div>
             
                @* <img src="/images/icons/focus.svg" class="focus-frame" alt="frame"> *@
                <img src="/images/icons/Person_focus_frame.svg" class="focus-frame" alt="frame" id="normal-frame">
                <img src="/images/icons/Person_focus_frame.svg" class="focus-frame" alt="frame" id="danger-frame" style="display: none;">
                <img src="/images/icons/Person_focus_sucess_frame.svg" class="focus-frame" alt="frame" id="success-frame" style="display: none;">
            </div>
            <div id="scanResult">กำลังรอการตรวจจับใบหน้า...</div>
            <div class="row-button" style="display:none;" id="submitBtn">
                <button type="submit" class="scan-button" style="width:45%; color:red;  left:0;">
                ถ่ายใหม่อีกครั้ง
            </button>
            <button type="submit" class="scan-button" style="margin-top:4px;  width:45%; "  >
                ยืนยันข้อมูล
            </button>
            </div>
        </div>

</body>
 
</a>

            