@{
    ViewData["Title"] = "Step9";
}
<a asp-controller="Step" asp-action="Step10" class="card-link" style="text-decoration: none;">

    <section class="main">
        <div class="header" style="margin-top:10%;">
            <header class="page-header" style="margin-bottom:0px;">
                <div class="step-number" style="margin-bottom:60px;">2</div>
                <h1>สแกนใบหน้า</h1>
            </header>
            <h3 style="color:#fff; text-align:center;">วิธีการสแกนใบหน้า</h3>
            <div class="step-container" style="margin-top:10%;">
               
                <div class="step" style="text-align:left;">
                    <div class="face_scan">
                        <img src="/images/icons/face-scan.svg" class="face_scan" />
                    </div>
                    <div class="step-text" style="margin-left:60px;">กรุณายืนตัวตรง และมองไปที่กล้อง</div>
                </div>
                <div class="step" style="text-align:left;">
                    <div class="face_scan">
                        <img src="/images/icons/face_scan2.svg" class="face_scan" />
                    </div>
                    <div class="step-text" style="margin-left:60px;">
                        หากสวมใส่หน้ากากอนามัยหรือสิ่งที่บดบังใบหน้า กรุณาถอดออก
                    </div>
                </div>
                <div class="step" style="text-align:left;">
                    <div class="face_scan">
                        <img src="/images/icons/Face_scan3.svg" class="face_scan" />
                    </div>
                    <div class="step-text" style="margin-left:60px;">
                        รอจนกว่าจะขึ้นการแสกนใบหน้าเสร็จสิ้นจึงจะสามารถสิ้นสุดการสแกนใบหน้า
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</a>