@{
    ViewData["Title"] = "Step4";
}
 < <header class="page-header">
    <div class="step-number" style="margin-bottom:60px;">1</div>
    <h1>กรุณาใส่บัตรประชาชน</h1>
    </header>
<div class="mainCard-container">

    <div class="left-column">

        <div class="reader-slot">
                <img  src="/images/icons/Readercard.svg"  class="Readercard" />
                <img  src="/images/icons/outside_reder.svg" class="outside-reader" />

        </div>
        <div class="hand-with-card">
                <img  src="/images/icons/hand_card.svg" class="Heandcard" />
        </div>

    </div>

    <div class="right-column">
            <div class="top-section">
                <img src="/images/icons/font_card_id.svg" class="id-card-image" />
            </div>

            <div class="bottom-section">
                <ol class="instruction-list">
                    <li>หันด้านหน้าบัตรประชาชน</li>
                    <li>นำด้านที่มีชิป เข้าเครื่อง</li>
                    <li>เสียบบัตรให้สุด</li>
                    <li>รอการสแกนบัตร</li>
                    <li>กรุณาสอดบัตรไว้จนกว่าจะสิ้นสุดกระบวนการ</li>
                </ol>
            </div>
            <form asp-controller="Step" asp-action="Step5" method="get" class="button-section" onsubmit="return handleScan(this)">
                <button type="submit" class="scan-button">เริ่มสแกน</button>
            </form>
    </div>
</div>



