@{
    ViewData["Title"] = "Step2";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}


    @* <section class="main">
        <div class="header">
            <div class="normal-container">
                <h2 data-i18n="steps">
                    ขั้นตอน
                </h2>
            </div>
            <div class="normal-container">
                <h1 data-i18n="identity verification">
                    การยืนยันตัวตน
                </h1>
            </div>
            <div class="step-container">
                <div class="step">
                    <div class="step-number">1</div>
                    <div class="step-text" data-i18n="insert id card into card reader">สอดบัตรประจำตัวประชาชนเข้าช่องอ่านบัตร</div>
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    <div class="step-text" data-i18n="scan face to verify identity">ดำเนินการสแกนภาพใบหน้าเพื่อยืนยันตัวบุคคล</div>
                </div>
                <div class="step">
                    <div class="step-number">3</div>
                    <div class="step-text" data-i18n="review and confirm">ตรวจสอบข้อมูลบนหน้าจอแล้วกด “ยืนยัน”</div>
                </div>
                <div class="click-hint hidden">
                    <img id="interac" src="/images/icons/Interac.svg" class="interac_icon" />
                    <div class="ping-center"></div>
                </div>


                <div class="step">
                    <div class="step-number">4</div>
                    <div class="step-text" data-i18n="remove id card from card reader">นำบัตรประจำตัวประชาชนออกจากช่องอ่านบัตร</div>
                </div>
            </div>
        </div>
        <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>
    </section> *@
    <body class="kiosk-body">
        <div class="bg-decoration z-0">
            <div class="bg-gradient-top-notice"></div>
            <div class="bg-gradient-bottom"></div>
        </div>
        <div class="kiosk-content z-10">
            <header class="kiosk-header">
                <div class="logo-container">
                    <img id="photo" src="/images/icons/maersk.png" alt="Maersk Logo" class="maersk-img" />
                </div>

                <div class="lang-toggle-group">
                    <button class="lang-btn active" onclick="setLang('th')">TH</button>
                    <div class="lang-separator"></div>
                    <button class="lang-btn" onclick="setLang('en')">EN</button>
                </div>
            </header>

            <div class="welcome-text-section">
                <h1 class="title-th">ขั้นตอนการยืนยันตัวตน</h1>
                <div class="divider"></div>
            </div>
            <a asp-controller="Step" asp-action="Step3" class="card-link" style="text-decoration: none;" id="cardLink">

            <div class="kiosk-vertical-container">
                <div class="kiosk-step-card">
                    <div class="step-visual-box">
                        <div class="step-main-number">1</div>
                    </div>
                    <div class="content-holder">
                        <h2 class="step-instruction-text">สอดบัตรประจำตัวประชาชนเข้าช่องอ่าน</h2>
                    </div>
                </div>

                <div class="kiosk-step-card">
                    <div class="step-visual-box">
                        <div class="step-main-number">2</div>
                    </div>
                    <div class="content-holder">
                        <h2 class="step-instruction-text">สแกนใบหน้าเพื่อยืนยันตัวตน</h2>
                        <div class="step-info-tag">หากเคยยืนยันตัวตนแล้ว ระบบจะข้ามไปขั้นตอนที่ 3</div>
                    </div>
                </div>

                <div class="kiosk-step-card">
                    <div class="step-visual-box">
                        <div class="step-main-number">3</div>
                    </div>
                    <div class="content-holder">
                        <h2 class="step-instruction-text">ตรวจสอบข้อมูลจากบัตรประจำตัวประชาชนและเลือกยืนยันการให้ความยินยอม</h2>
                    </div>
                </div>

                <div class="kiosk-step-card">
                    <div class="step-visual-box">
                        <div class="step-main-number">4</div>
                    </div>
                    <div class="content-holder">
                        <h2 class="step-instruction-text">รับบัตรประจำตัวประชาชนคืนจากช่องอ่าน</h2>
                    </div>
                </div>
            </div>
        </a>
            <div class="kiosk-action-bar style-modern">
                <a asp-controller="Step" asp-action="Step3" class="kiosk-btn btn-solid">
                    พร้อมแล้ว
                </a>
            </div>
        </div>
    </body>


