@{
    ViewData["Title"] = "Step2";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
}

<a asp-controller="Step" asp-action="Step3" class="card-link" style="text-decoration: none;" id="cardLink">

    <section class="main">
        <div class="header">
            <div class="normal-container">
                <h2 data-i18n="steps">
                    ขั้นตอน
                </h2>
            </div>
            <div class="normal-container">
                <h1 data-i18n="identity verification">
                    การยืนยันตัวตน
                </h1>
            </div>
            <div class="step-container">
                <div class="step">
                    <div class="step-number">1</div>
                    <div class="step-text" data-i18n="insert id card into card reader">สอดบัตรประจำตัวประชาชนเข้าช่องอ่านบัตร</div>
                </div>
                <div class="step">
                    <div class="step-number">2</div>
                    <div class="step-text" data-i18n="scan face to verify identity">ดำเนินการสแกนภาพใบหน้าเพื่อยืนยันตัวบุคคล</div>
                </div>
                <div class="step">
                    <div class="step-number">3</div>
                    <div class=”step-text” data-i18n=”review and confirm”>ตรวจสอบข้อมูลบนหน้าจอแล้วกดยืนยัน</div>
                </div>
                <div class="click-hint hidden">
                    <img id="interac" src="/images/icons/Interac.svg" class="interac_icon" />
                    <div class="ping-center"></div>
                </div>


                <div class="step">
                    <div class="step-number">4</div>
                    <div class="step-text" data-i18n="remove id card from card reader">นำบัตรประจำตัวประชาชนออกจากช่องอ่านบัตร</div>
                </div>
            </div>
        </div>
        <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>
    </section>
</a>