@{
    ViewData["Title"] = "Integrate NDPP";
    ViewBag.HideHeader = true;
    ViewBag.HideFooter = true;
    ViewBag.ShowLangToggle = true;
}

<body class="kiosk-body">
    <div class="bg-decoration z-0">
        <div class="bg-gradient-top-notice"></div>
        <div class="bg-gradient-bottom"></div>
    </div>
    <div class="kiosk-content z-10">
        <header class="kiosk-header">
            <div class="logo-container">
                <img id="photo" src="/images/icons/maersk.png" alt="Maersk Logo" class="maersk-img" />
            </div>

        </header>

        <div class="welcome-text-section">
            <h1 class="title-th" data-i18n="confirm consent">ยืนยันการยินยอม</h1>
            <div class="divider"></div>
        </div>
        <div class="container-fluid py-5" id="step17-content" >
            <div id="ndpp-container" class="row g-4 justify-content-center"></div>

            <div id="ndpp-form-container" style="display:none; margin-top:30px;">
                <div class="v-ndpp-white-card">
                    <form id="ndpp-form-new">

                        <div class="header-section">
                            <h3 id="activity-title" class="v-text-title"></h3>
                        </div>

                        <div class="content-section">
                            <h5 class="v-text-subtitle" data-i18n="consent details and conditions">รายละเอียดและเงื่อนไขในการยินยอม</h5>

                            <div id="activity-content" class="v-text-body mb-5"></div>

                            <div class="v-purpose-header-row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 35px;">
                                <h5 class="v-text-subtitle" style="margin-bottom:0px;" data-i18n="consent list">รายการความยินยอม</h5>

                                <label class="v-select-all-pill">
                                    <input type="checkbox" id="select-all-purposes">
                                    <span data-i18n="consent all">ยินยอมทั้งหมด</span>
                                </label>
                            </div>

                            <div id="purpose-options" class="v-options-group"></div>
                        </div>

                        <div class="footer-section mt-5">
                            <button type="submit" class="v-btn-submit-kiosk" id="submit-consent">
                                <span data-i18n="confirm consent data">ยืนยันข้อมูลความยินยอม</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>