@{
    ViewData["Title"] = "Step3";
    ViewBag.HideFooter = true;
    ViewBag.HideHeader = true;
}
<body>
    <div class="terms-page-wrapper">
        <div class="terms-white-box">
            <header class="page-header" style="padding-top:120px; padding-bottom:120px;">
                <h1>ข้อตกลงและเงื่อนไข</h1>
            </header>

            <div class="terms-content-box">
                <section class="policy-box">
                    <h2 class="terms-title">ข้อตกลง</h2>
                    <p class="policy-text">
                        ข้าพเจ้าขอยืนยันว่าข้อมูลส่วนบุคคลที่ให้ไว้ในขั้นตอนการยืนยันตัวตนนี้ เป็นข้อมูลที่ถูกต้องและเป็นความจริงทุกประการ ข้าพเจ้ายินยอมให้ระบบทำการตรวจสอบและบันทึกข้อมูลจากบัตรประจำตัวประชาชนเพื่อใช้ในการพิสูจน์และยืนยันตัวตน ณ จุดลงทะเบียนในระบบนี้
                    </p>
                </section>

                <section class="policy-box">
                    <h2 class="terms-title">เงื่อนไข</h2>
                    <p class="policy-text">
                        ข้าพเจ้ายินยอมให้มีการใช้ข้อมูลจากบัตรประจำตัวประชาชน รวมถึงภาพถ่ายที่ได้จากการตรวจจับใบหน้า เพื่อใช้ในการยืนยันตัวตนตามวัตถุประสงค์ของระบบ โดยข้าพเจ้าตระหนักและยอมรับว่า ข้อมูลที่ให้ไว้อาจถูกนำไปใช้ภายในระบบเพื่อการตรวจสอบสิทธิ์ หรือประกอบการดำเนินการทางกฎหมายหากจำเป็น ทั้งนี้ ภายใต้นโยบายคุ้มครองข้อมูลส่วนบุคคล
                    </p>
                </section>

                <section class="policy-box">
                    <h2 class="terms-title">ข้อจำกัดความรับผิดขอบ</h2>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน

                    </p>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน

                    </p>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน

                    </p>
                    <p class="policy-text">
                        ระบบจะดำเนินการยืนยันตัวตนตามข้อมูลที่ได้รับจากผู้ใช้โดยสุจริต และจะไม่รับผิดชอบต่อความเสียหายใด ๆ ที่เกิดขึ้นจากการให้ข้อมูลอันเป็นเท็จหรือไม่ถูกต้องโดยผู้ใช้ รวมถึงความเสียหายที่เกิดจากการละเมิดสิทธิส่วนบุคคลของผู้อื่นอันเนื่องมาจากการใช้ข้อมูลปลอม หรือการแอบอ้างบุคคลอื่นในการยืนยันตัวตน
                    </p>
                </section>
            </div>


            <div class="terms-footer-fixed">
                <label class="terms-checkbox-group">
                    <input type="checkbox" id="acceptCheckbox" onchange="toggleSubmit()" >
                    <span class="custom-checkbox"></span>  ข้าพเจ้ายอมรับข้อตกลงเงื่อนไข
                </label>
                <button class="terms-submit-button" id="submitButton" disabled>ยืนยัน</button>
            </div>
        </div>
    </div>
    <script>
        function toggleSubmit() {
          const checkbox = document.getElementById('acceptCheckbox');
          const button = document.getElementById('submitButton');
          button.disabled = !checkbox.checked;
        }
    </script>
    <audio id="click-sound" src="/audio/normal_click.wav" preload="auto"></audio>

</body>
