@{
    ViewData["Title"] = "Step10";
    ViewBag.HideHeader = true;
}
@* <a asp-controller="Step" asp-action="Step11" class="card-link" style="text-decoration: none;"> *@
    <body class="grey-background">
        <div class="fullscreen-overlay">
            <div class="video-wrapper">
                <video id="videoInput" autoplay muted playsinline style="transform: scaleX(-1);"></video>
                <canvas id="faceCanvas" style="display: none;"></canvas>

             
                @* <img src="/images/icons/focus.svg" class="focus-frame" alt="frame"> *@
                <img src="/images/icons/Person_focus_frame_overay.svg" class="focus-frame" alt="frame" id="normal-frame">
                <img src="/images/icons/Person_focus_frame_overay.svg" class="focus-frame" alt="frame" id="danger-frame" style="display: none;">
                <img src="/images/icons/Person_focus_frame_overay_success.svg" class="focus-frame" alt="frame" id="success-frame" style="display: none;">
                <img src="/images/icons/Person_focus_frame_overay_success.svg" class="focus-frame" alt="frame" id="success-frame" style="display: none;">
                <audio id="audio-focus" src="/audio/focus_frame.wav" preload="auto"></audio>
                <audio id="audio-look" src="/audio/look_at_camera.wav" preload="auto"></audio>
                <div class="glass-overlay"></div>

            </div>
            <div id="scanResult">กำลังรอการตรวจจับใบหน้า...</div>
            <div class="row-button" style="display:none;" id="submitBtn">
                <button type="submit" class="scan-button" style="width:45%; color:red;  left:0; margin-right:89px;">
                ถ่ายใหม่อีกครั้ง
            </button>
            <button type="submit" class="scan-button" style="margin-top:4px;  width:45%; "  >
                ยืนยันข้อมูล
            </button>
            </div>
        </div>

</body>
 
</a>

            