/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 18px;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
body {
    background: linear-gradient(#021B79);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Notosansthai', sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.19);
    padding: 50px 50px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid #41464b;
    width: 90%;
    justify-self: center;
    max-width: 90%;
}

    .login-container h4 {
        font-weight: bold;
        color: #ffffff;
        font-size: 5rem;
        text-shadow: 0 2px 4px rgba(0,0,0,0.4);
        margin-bottom: 60px;
    }

.form-label_login {
    font-weight: 500;
    color: #ffffff;
    font-size: 3rem;
    width: 100%;
}

.form-control_login {
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 3rem;
    color: #000000;
    width: 100%;
    margin-top: 20px;
    border: none;
}

.form-control_login:active {
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 3rem;
    color: #000000;
    width: 100%;
    margin-top: 20px;
}
.form-check {
    margin-top: 26px;
    margin-left: 26px;
}
.form-check-input {
    margin-top: 6px;
    font-size: 2rem;
    margin-left:;
}

.form-check-label_login {
    font-size: 2rem;
    color: #FFFFFF;
}

.login_button {
    background: linear-gradient(#021B79);
    border: none;
    border-radius: 48px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 3rem;
    width: 100%;
    color: #ffff;
    padding: 30px 30px;
    margin-top: 60px;

}

    .login_button:hover {
        background: linear-gradient(135deg, #3852A3, #021B79);
    }

.text-decoration-none {
    text-decoration: underline;
    font-size: 2rem;
    color: #FFFFFF;
    margin-left: 52%;
}

.alert-danger {
    border-radius: 10px;
}
.video-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    object-position: 41% 50%;
}
