@{
    ViewData["Title"] = "Configure Kiosk";
}

<div class="container mt-4">
    <h2>Kiosk Setup</h2>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary" onclick="downloadFileSetup('setup-kiosk-install')">Generate Kiosk Script</button>
        <button type="button" class="btn btn-secondary" onclick="downloadFileSetup('setup-kiosk-config')">Generate Docker Script</button>
    </div>
</div>

<script src="~/js/kiosk_setup.js"></script>
