@{
    ViewData["Title"] = "Configure Kiosk";
}

<div class="container mt-4">
    <h2>Kiosk Setup</h2>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary" onclick="generateSetupKiosk()">Generate Kiosk Script</button>
        <button type="button" class="btn btn-secondary" onclick="generateDocker()">Generate Docker Script</button>
    </div>
</div>