@{
    ViewData["Title"] = "Configure Kiosk";
}
<style>
    .glass-step-vertical {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;
        max-width: 900px;
        margin: 2rem auto;
        padding-inline: 1rem;
    }
    .glass-step-box {
        width: 100%;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 20px 30px;
        color: #ffffff;
        display: flex;
        align-items: center;
        gap: 20px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
    .step-number {
        font-size: 3rem;
        min-width: 48px;
        text-align: center;
    }
    .step-label {
        font-size: 2rem;
        font-weight: 500;
    }

    .script-button{
        background-color: #ffffff;
        color: #021b79;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        border-radius:48px;
    }

</style>

<div class="container mt-4">
@*     <h2>Kiosk Setup</h2>

    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary" onclick="downloadFileSetup('setup-kiosk-install')">Generate Kiosk Script</button>
        <button type="button" class="btn btn-secondary" onclick="downloadFileSetup('setup-kiosk-config')">Generate Docker Script</button>
    </div> *@
</div>

<div class="header" style="margin-top:0%;">
    <div class="normal-container">
        <h2>
            ขั้นตอน
        </h2>
    </div>
    <div class="normal-container">
        <h1>
           การการติดตั้ง
        </h1>
    </div>
    <div class="glass-step-vertical">
        <div class="glass-step-box">
            <div class="step-number">1</div>
            <div class="step-label">ดาวน์โหลดไฟล์ </div>
            <button type="submit" class="script-button" onclick="downloadFileSetup('setup-kiosk-install')">Generate Kiosk Script</button>

        </div>
        <div class="glass-step-box">
            <div class="step-number">2</div>
            <div class="step-label">ดาวน์โหลดไฟล์</div>
            <button type="button" class="script-button" onclick="downloadFileSetup('setup-kiosk-config')">Generate Docker Script</button>
        </div>
        <div class="glass-step-box">
            <div class="step-number">3</div>
            <div class="step-label">ดาวน์โหลดไฟล์คู่มือการติดตั้ง</div>
        </div>
        <div class="glass-step-box">
            <div class="step-number">4</div>
            <div class="step-label">รีสตาร์ทเครื่อง</div>
        </div>
    </div>


</div>

<script src="~/js/kiosk_setup.js"></script>
